@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-action="SendMail">
    <input name="mailSubject" value="" />
    <input name="mailContent" value="" />
    <button type="submit">發送</button>
</form>